<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName store.vizio.com
    DocumentRoot /home/vagrant/projects/vizio/store
    <Directory /home/vagrant/projects/vizio/store/>
            Options Indexes FollowSymLinks MultiViews
            EnableSendfile Off
            AllowOverride All
            Order allow,deny
            allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/vizio_store_error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel error

    CustomLog ${APACHE_LOG_DIR}/vizio_store_access.log combined

</VirtualHost>

<VirtualHost *:443>
    DocumentRoot "/home/vagrant/projects/vizio/store"
    ServerName store.vizio.com:443
    ServerAdmin webmaster@localhost
    EnableSendfile Off
    ErrorLog "${APACHE_LOG_DIR}/vizio_store_ssl_error.log"
    TransferLog "${APACHE_LOG_DIR}/vizio_store_ssl_transfer_access.log"

    SSLEngine on
    SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL

    SSLCertificateFile    "/home/vagrant/vizio.crt"
    SSLCertificateKeyFile "/home/vagrant/vizio.key"

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>

    <Directory "/home/vagrant/projects/vizio/store">
        Options FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>

    BrowserMatch ".*MSIE.*" \
             nokeepalive ssl-unclean-shutdown \
             downgrade-1.0 force-response-1.0

</VirtualHost>

