doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.8.1.min.js')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/lib/rifle/rifle-hotkey.js')
    script(src='/javascripts/lib/rifle/rifle-client.js')
    script(src='/javascripts/index.js')
  body
    block content