<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName ts.dev
    DocumentRoot /home/vagrant/projects/ts
    <Directory /home/vagrant/projects/ts>
            EnableSendfile Off
            Options Indexes FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
    </Directory>


    ErrorLog ${APACHE_LOG_DIR}/ts-error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel error

    CustomLog ${APACHE_LOG_DIR}/ts-access.log combined
</VirtualHost>