/*
    An easy way to zoom your entire layout in or out (as long as it's set in ems).
    Just change the media queries to activate them.
    Assuming your base font-size is 16:
    - the first one zooms out by a factor of (16-2)/16 = 0.875
    - the second one zooms in by a factor of (16+2)/16 = 1.125  
*/
/*
    Margin, padding, and border resets
    except for form elements
*/
/* line 10, src/_normalize.scss */
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0; }

/*
    Consistency fixes
    adopted from http://necolas.github.com/normalize.css/
*/
/* line 23, src/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block; }

/* line 27, src/_normalize.scss */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 33, src/_normalize.scss */
body {
  min-height: 100%;
  font-size: 100%; }

/* line 35, src/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 42, src/_normalize.scss */
sup {
  top: -0.5em; }

/* line 43, src/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 45, src/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 51, src/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 52, src/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 54, src/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 59, src/_normalize.scss */
a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

/* line 64, src/_normalize.scss */
input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline; }

/* line 74, src/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 80, src/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 88, src/_normalize.scss */
textarea {
  overflow: auto; }

/*
    These are easy to forget
*/
/* line 99, src/_normalize.scss */
::-moz-selection {
  background: red;
  color: white; }

/* line 104, src/_normalize.scss */
img::selection {
  background: transparent; }

/* line 107, src/_normalize.scss */
img::-moz-selection {
  background: transparent; }

/* line 111, src/_normalize.scss */
body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62); }

/*
    Simple Fulid Media
*/
/*
*
*  Simple fluid media
*
*/
/* line 124, src/_normalize.scss */
figure {
  position: relative; }

/* line 127, src/_normalize.scss */
figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block; }

/* line 131, src/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/*
    Frameless           <http://framelessgrid.com/>
    by Joni Korpi       <http://jonikorpi.com/>
    licensed under CC0  <http://creativecommons.org/publicdomain/zero/1.0/>
*/
/* line 6, src/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*
    Mobile layout 
    240–479 px
    Zoomed out below 320 px
*/
/* line 7, src/_media-queries.scss */
.main, .hero, .header, .section {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; }

/* line 10, src/_media-queries.scss */
.main {
  position: relative; }

/* line 13, src/_media-queries.scss */
.hero {
  height: 200px;
  background: url("http://placehold.it/1920x505") no-repeat center 0;
  background-size: auto 100%;
  margin-bottom: 25px; }

/* line 20, src/_media-queries.scss */
.header {
  margin-bottom: 30px; }
  /* line 22, src/_media-queries.scss */
  .header .text {
    width: 91.66667%;
    margin: 0 4.16667%;
    float: left; }

/* line 29, src/_media-queries.scss */
.article {
  width: 91.66667%;
  margin: 0 4.16667%;
  float: left;
  margin-bottom: 10px; }
  /* line 32, src/_media-queries.scss */
  .article h2 {
    margin-bottom: 10px; }

/* line 36, src/_media-queries.scss */
.aside {
  width: 91.66667%;
  margin: 0 4.16667%;
  float: left;
  margin-bottom: 10px; }
  /* line 39, src/_media-queries.scss */
  .aside h3 {
    margin-bottom: 10px; }

/* line 44, src/_media-queries.scss */
.promos {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: 30px; }
  /* line 48, src/_media-queries.scss */
  .promos .promo {
    width: 91.66667%;
    margin: 0 4.16667%;
    float: left;
    height: 50px;
    background: lightgray;
    margin-bottom: 10px;
    background: url("http://placehold.it/940x200") no-repeat center 0;
    background-size: 100% auto; }

/*
    Mobile layout 
    240–479 px
    Zoomed out below 320 px
*/
@media screen and (min-width: 15em) {
  /* line 78, src/_media-queries.scss */
  .hero {
    height: 170px; } }
/*
    Wide mobile layout 
    480-767 px
    Zoomed in above 480 px
*/
@media screen and (min-width: 30em) {
  /* line 92, src/_media-queries.scss */
  .body {
    font-size: 1.05em; }

  /* line 95, src/_media-queries.scss */
  .hero {
    height: 280px; }

  /* line 99, src/_media-queries.scss */
  .promos .promo {
    width: 45.83333%;
    margin: 0 2.08333%;
    float: left;
    height: 80px; }

  /* line 105, src/_media-queries.scss */
  .header .text {
    width: 95.83333%;
    margin: 0 2.08333%;
    float: left; }

  /* line 109, src/_media-queries.scss */
  .article {
    width: 45.83333%;
    margin: 0 2.08333%;
    float: left; }

  /* line 113, src/_media-queries.scss */
  .aside {
    width: 45.83333%;
    margin: 0 2.08333%;
    float: left; } }
/*
    Tablet layout 
    600-911 px
    Zoomed in above 600 px
*/
/*
    Widescreen layout 
    912-1887 px
    Zoomed in above 912 px
*/
@media screen and (min-width: 57em) {
  /* line 137, src/_media-queries.scss */
  body {
    font-size: 1.13em; }

  /* line 140, src/_media-queries.scss */
  .hero {
    height: 400px; }

  /* line 144, src/_media-queries.scss */
  .promos .promo {
    width: 47.91667%;
    margin: 0 1.04167%;
    float: left;
    height: 125px; }

  /* line 150, src/_media-queries.scss */
  .header .text {
    width: 97.91667%;
    margin: 0 1.04167%;
    float: left; }

  /* line 154, src/_media-queries.scss */
  .article {
    width: 60.41667%;
    margin: 0 1.04167%;
    float: left; }

  /* line 157, src/_media-queries.scss */
  .aside {
    width: 35.41667%;
    margin: 0 1.04167%;
    float: left; } }
/*
    Huge-screen layout 
    1888-2520 px
    Zoomed in above 1920 px
*/
@media screen and (min-width: 118em) {
  /* line 174, src/_media-queries.scss */
  .hero {
    height: 505px; }

  /* line 178, src/_media-queries.scss */
  .promos .promos {
    height: 200px; } }
