/*
    Mobile layout 
    240–479 px
    Zoomed out below 320 px
*/
// default layout
.main, .hero, .header, .section{
    @include row();
}
.main{
    position: relative;
}
.hero{
    height: 200px;
    background: url('http://placehold.it/1920x505') no-repeat center 0;
    background-size: auto 100%;

    margin-bottom: 25px;
}
.header{
    margin-bottom: 30px;
    .text{
        @include width(4, 4);
    }
}
.section{

}
.article{
    @include width(4, 4);
    margin-bottom: 10px;
    h2{
        margin-bottom: 10px;
    }
}
.aside{
    @include width(4, 4);
    margin-bottom: 10px;
    h3{
        margin-bottom: 10px;
    }
}

.promos{
    @include row();
    margin-bottom: 30px;

    .promo{
        @include width(4, 4);
        height: 50px;
        background: lightgray;
        margin-bottom: 10px;

        background: url('http://placehold.it/940x200') no-repeat center 0;
        background-size: 100% auto;
    }
}

// @media screen and (max-width: 1px) {
//     body {
//         font-size: ($font-size - 2) / $em;
//     }
// }

// @media screen and (max-width: 1px) {
//     body {
//         font-size: ($font-size + 2) / $em;
//     }
// }

/*
    Mobile layout 
    240–479 px
    Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
    .hero{
        height: 170px;
    }
    .article{
    }
}


/*
    Wide mobile layout 
    480-767 px
    Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
    $max_col: 8;
    .body{
        // @include zoom-baseline(1.05);
    }
    .hero{
        height: 280px;
    }
    .promos{
        .promo{
            @include width($max_col, 4);
            height: 80px;
        }
    }
    .header{
        .text{
            @include width($max_col, $max_col);
        }
    }
    .article{
        @include width($max_col, 4);

        p{
            -moz-column-count: 2;
            -moz-column-gap: 40px;
            -moz-column-rule: 1px solid #ddd;
            -webkit-column-count: 2;
            -webkit-column-gap: 40px;
            -webkit-column-rule: 1px solid #ddd;
            column-count: 2;
            column-gap: 40px;
            column-rule: 1px solid #ddd;
        }

    }
    .aside{
        @include width($max_col, 4);
    }
}


/*
    Tablet layout 
    600-911 px
    Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
}


/*
    Widescreen layout 
    912-1887 px
    Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
    $max_col: 16;
    body {
        // @include zoom-baseline(1.13);
    }
    .hero{
        height: 400px;
    }
    .promos{
        .promo{
            @include width($max_col, 8);
            height: 125px;
        }
    }
    .header{
        .text{
            @include width($max_col, $max_col);
        }
    }
    .article{
        @include width($max_col, 10);

        p{
            -moz-column-count: 2;
            -moz-column-gap: 40px;
            -moz-column-rule: 1px solid #ddd;
            -webkit-column-count: 2;
            -webkit-column-gap: 40px;
            -webkit-column-rule: 1px solid #ddd;
            column-count: 2;
            column-gap: 40px;
            column-rule: 1px solid #ddd;
        }
    }
    .aside{
        @include width($max_col, 6);
    }
}

@media screen and (min-width: 57em) and (max-width: 117.9375em) {

}


/*
    Huge-screen layout 
    1888-2520 px
    Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
    .hero{
        height: 505px;
    }
    .promos{
        .promos{
            height: 200px;
        }
    }
}